.flex-hosting-popular {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.flex-hosting-popular > div:first-child {
    flex-basis: 70%;
}

.flex-hosting-popular > div:last-child {
    flex-basis: 30%;
}

.flex-hosting {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%
}

.flex-popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title-hebergements,
.title-populaires {
    padding: 25px;
}

.w30 {
    width: 30%;
}

.w90 {
    width: 90%;
}

.primary {
    order: 1;
}

.relative {
    position: relative;
}

.bg-content {
    background: var(--bg-section-content);
    width: 100%;
    padding: 0 20px;
    border-radius: 15px;
}

@media only screen and (min-width: 992px) and (max-width: 1250px) {
    .flex-hosting-popular > div:first-child {
        flex-basis: 65%;
    }
    .flex-hosting-popular > div:last-child {
        flex-basis: 35%;
    }
    .w30 {
        width: 45%;
    }
    .bg-content {
        padding: 0 10px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
    .flex-hosting-popular {
        flex-wrap: wrap;
    }
    .flex-hosting-popular > div:first-child {
        flex-basis: 100%;
    }
    .flex-hosting-popular > div:last-child {
        flex-basis: 100%;
    }
    .primary {
        order: -1;
    }
    .w30,
    .w90 {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .flex-hosting-popular {
        flex-wrap: wrap;
    }
    .flex-hosting-popular > div:first-child,
    .flex-hosting-popular > div:last-child {
        flex-basis: 100%;
    }
    .primary {
        order: -1;
    }
    .hide-content {
        background: transparent!important;
    }
    .bg-content {
        border-radius: 0;
    }
    .title-hebergements,
    .title-populaires {
        flex-basis: 100%;
        padding: 20px 5px;
    }
    .title-populaires,
    .w30,
    .w90 {
        width: 100%;
    }
}

