.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-0 {
    margin-top: 0;
}

.mt-20 {
    margin-top: 20px;
}

.mt-20-0-responsive {
    margin-top: 0;
}

.mb-20 {
    margin-bottom: 20px;
}

.p-0-5-responsive {
    padding: 0;
}

.p-40-20-responsive {
    padding: 40px;
}

/* Tablette */
@media only screen and (min-width: 600px) and (max-width: 991px) {
    .p-0-5-responsive {
        padding: 0;
    }
}

/* Smartphone */
@media screen and (min-width: 200px) and (max-width: 599px) {
    .mb-10 {
        margin-bottom: 10px;
    }
    .p-40-20-responsive {
        padding: 20px;
    }
    .p-0-5-responsive {
        padding: 20px;
    }
    .mt-20-0-responsive {
        margin-top: 20px;
    }
}
