.wrapper {
    padding: 0 40px;
}

.p-hosting {
    padding: 0 20px 0 0;
}

.p-popular {
    padding: 0 0 0 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-0 {
    margin-top: 0;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.p-top-20 {
    padding-top: 20px;
}

@media screen and (min-width: 992px) and (max-width: 1250px) {
    .wrapper {
        padding: 0 30px;
    }
}


/* Tablette */
@media only screen and (min-width: 769px) and (max-width: 991px) {
    .wrapper {
        padding: 0 20px;
    }
    .p-hosting,
    .p-popular {
        padding: 0;
    }
}

/* Smartphone */
@media screen and (max-width: 768px) {
    .mb-10 {
        margin-bottom: 10px;
    }
    .wrapper {
        padding: 0;
    }
    .p-hosting,
    .p-popular {
        padding: 0;
    }
}
