@import "var.css";
@import "font.css";
@import "color.css";
@import "card.css";
@import "content.css";
@import "spacing.css";
@import "header.css";
@import "search.css";
@import "activity.css";
@import "footer.css";

* {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.main {
    padding: 0 40px;
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 5px 0;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.1em;
}

@media screen and (min-width: 600px) and (max-width: 1399px) {
    .main {
        padding: 0 20px;
    }
}

@media screen and (min-width: 200px) and (max-width: 599px) {
    .main {
        padding: 0;
    }
}
