html {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: inherit;
    color: inherit;
    font: inherit;
    --primary-blue: #0065FC;
    --secondary-blue: #DEEBFF;
    --bg-content: #F2F2F2;
    font-family: "Raleway", Arial, sans-serif
}

body {
    margin: 0
}

a {
    color: black
}

p {
    margin: 5px 0
}

ul {
    margin: 0
}

h1 {
    font-size: 1.3rem;
    margin: 10px 0
}

h2 {
    font-size: 1.2rem;
    margin: 10px 0
}

h3 {
    font-size: 1.1rem;
    margin: 10px 0
}

.main {
    background-color: #fff
}

.container {
    width: auto;
    margin: 0;
    padding: 0
}

.container-p {
    width: auto;
    margin: 0;
    padding: 0 16px
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between
}

.header ul {
    display: flex;
    margin: 0;
    list-style-type: none;
    padding-inline-start: 0
}

.header li {
    display: flex;
    flex-basis: 50%
}

.header li a {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    padding: 40px 20px
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px
}

nav a {
    font-weight: 500;
    text-decoration: none
}

.active a {
    color: var(--primary-blue)
}

.active,
nav ul li:hover {
    -webkit-box-shadow: inset 0 4px 0 -2px var(--primary-blue);
    -moz-box-shadow: inset 0 4px 0 -2px var(--primary-blue);
    box-shadow: inset 0 4px 0 -2px var(--primary-blue)
}

.slogan {
    color: #565555
}

/* END HEADER */

/* COLOR ITEM */

.item-color {
    color: var(--primary-blue)
}

/* END COLOR ITEM */

/* FORM */

.container-form {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    height: 45px;
    margin-bottom: 20px
}

.container-icon-form {
    position: relative;
    width: 45px;
    border-radius: 15px 0 0 15px;
    background: var(--bg-content)
}

.icon-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.form {
    height: 45px;
    background-clip: padding-box;
    line-height: 1.5em;
    width: 200px;
    border: 1px var(--bg-content) solid
}

.form::placeholder {
    color: black;
    font-weight: bold;
    padding-left: 10px;
    font-family: "Raleway", Arial, sans-serif
}

.form:focus-visible  {
    outline: -webkit-focus-ring-color auto 0
}

.btn-form {
    color: white;
    margin-left: -5px;
    padding: 15px;
    cursor: pointer;
    font-family: "Raleway", Arial, sans-serif;
    font-weight: bold;
    background: var(--primary-blue);
    border: 1px var(--primary-blue) solid;
    border-radius: 0 15px 15px 0
}

/* END FORM */

/* FILTRE */

.btn {
    display: inline-block;
    position: relative;
    height: 15px;
    line-height: 15px;
    padding: 15px 30px 15px 55px;
    margin: 5px;
    background-color: white;
    cursor: pointer;
    border: 2px var(--bg-content) solid;
    border-radius: 50px
}

.btn a {
    color: black;
    font-weight: bold;
    text-decoration: none
}

.btn-icon-container {
    position: absolute;
    /* Width and Height == Height + Padding top and Bottom of BTN */
    width: 49px;
    height: 49px;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    background-color: var(--secondary-blue)
}

.btn-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.slogan {
    margin-bottom: 20px
}

.information,
.info-icon-container,
.information p {
    display: inline-block
}

.information {
    position: relative;
    height: 15px;
    line-height: 15px;
    margin: 25px 0;
    padding: 5px
}

.information p {
    margin: 0 0 0 30px;
}

.info-icon-container {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 2px var(--bg-content) solid
}

.item-color {
    color: var(--primary-blue)
}

.icon-info {
    font-size: 12px;
    font-weight: 900
}

.label-filtres {
    display: inline-block;
    font-weight: bold;
    margin: 0 15px 0 10px
}

/* END FILTRE */

/* SECTION */

.section-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%
}

.section-el {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 30%
}

.section-el-100 {
    display: flex;
    flex-basis: 100%
}

.section-activity {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
    column-gap: 2rem;
    margin: 4rem 0
}

.section-el-activity div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column
}

.hebergements {
    display: flex;
    flex-grow: 2;
    flex-basis: 65%
}

.populaires {
    display: flex;
    flex-grow: 1;
    order: 1;
    flex-basis: 35%
}

.section-content {
    width: 100%;
    margin: 0 15px;
    padding: 30px;
    border-radius: 15px;
    background: var(--bg-content)
}

.section-activity {
    width: 100%;
    margin: 0 15px;
    border-radius: 15px
}

.section-content-hide {
    width: 100%;
    margin: 0 15px;
    padding: 30px;
    border-radius: 15px;
    background: var(--bg-content)
}

.section-content h1,
.section-content-hide h1 {
    margin-bottom: 25px
}

.section-el-100 > div {
    display: flex
}

.section-el-100 > .card-body-2 {
    display: flex
}

.card-body-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px
}

/* END SECTION */

/* ACTIVITY */

.activity {
    padding: 0 15px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
    column-gap: 2rem;
    margin: 4rem 0
}

.activity h2 {
    grid-column: 1 / -1
}

.activity a {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 0 20px #0000002e;
    transition-duration: 0.1s
}

.activity h3 {
    margin: 1.2rem 1.5rem
}

.activityCont {
    position: relative;
    flex: 1
}

.activity img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover
}

.activity-link-1 {
    grid-row: 2/7;
    grid-column: 1/2
}

.activity-link-2 {
    grid-column: 2/3;
    grid-row: 2/5
}

.activity-link-3 {
    grid-column: 3/4;
    grid-row: 2/7
}

.activity-link-4 {
    grid-column: 4/5;
    grid-row: 2/3
}

.activity-link-5 {
    grid-column: 2/3;
    grid-row: 6/7
}

.activity-link-6 {
    grid-column: 4/5;
    grid-row: 4/7
}

/* END ACTIVITY */

/* CARD */

.card {
    width: 30%;
    height: auto;
    padding: 5px;
    margin-bottom: 25px;
    border-radius: 20px;
    background: #ffffff
}

.card-2 {
    width: 100%;
    height: auto;
    padding: 5px;
    margin-bottom: 25px;
    border-radius: 20px;
    background: #ffffff
}

.shadow {
    -webkit-box-shadow: 2px 2px 15px -3px rgba(0,0,0,0.4);
    box-shadow: 2px 2px 15px -3px rgba(0,0,0,0.4)
}

.card-img {
    width: 100%;
    height: auto
}

.card-img-2 {
    width: 100%;
    height: auto
}

.card-body {
    padding: 10px 15px
}

.card-title {
    font-weight: bold
}

/* END CARD */

/* TRIM IMAGE */

.trim-v {
    min-width: 100%;
    max-height: 150px;
    border-radius: 15px 15px 0 0;
    overflow: hidden
}

.trim-h {
    max-width: 35%;
    min-height: 175px;
    max-height: 175px;
    border-radius: 15px 0 0 15px;
    overflow: hidden
}

.trim-hh {
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    border-radius: 15px 15px 0 0;
    overflow: hidden
}

/* END TRIM IMAGE */

/* STAR */

.star-active {
    color: var(--primary-blue)
}

.star-inactive {
    color: gray
}

/* END STAR */

/* RATE */

.rate {
    font-weight: bold
}

/* END RATE */

/* MARGIN */

.mb-lr {
    margin: 0 10px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-40 {
    margin-bottom: 40px
}

.right {
    float: right
}

.p-0 {
    padding: 0
}

/* END MARGIN */

/* TYPO */

.bold {
    font-weight: bold
}

/* END TYPO */

/* FOOTER */

.footer {
    display: flex;
    justify-content: space-between;
    background: var(--bg-content)
}

.footer > div {
    padding: 30px;
    width: 100%
}

.footer ul {
    list-style-type: none;
    padding-left: 0
}

.footer li {
    margin: 10px 0
}

.footer a {
    color: black;
    text-decoration: none
}

/* END FOOTER */

/* Media Query */
/* Desktop */
@media only screen and (min-width: 992px) and (max-width: 1279px)  {
    .hebergements {
        flex-basis: 60%
    }
    .populaires {
        flex-basis: 40%
    }
}
/* END Desktop */

/* Tablette */
@media only screen and (min-width: 600px) and (max-width: 991px) {
    .padding-desk {
        padding: 10px
    }
    .hebergements {
        flex-basis: 100%
    }
    .populaires {
        flex-basis: 100%;
        order: -1
    }
    .section-el {
        flex-basis: 45%;
    }
    .label-filtres {
        display: block;
        margin: 0 15px 15px 0
    }
    .activity {
        grid-template-columns: 1fr 1fr;
    }
    .activity {
        grid-template-rows: auto 12rem 12rem 12rem;
        row-gap: 2rem
    }
    .activity h2 {
        grid-column: 1/-1
    }
    .activity-link-1 {
        grid-row: 2;
        grid-column: 1
    }
    .activity-link-2 {
        grid-row: 2;
        grid-column: 2
    }
    .activity-link-3 {
        grid-row: 3;
        grid-column: 1
    }
    .activity-link-4 {
        grid-row: 3;
        grid-column: 2
    }
    .activity-link-5 {
        grid-row: 4;
        grid-column: 1
    }
    .activity-link-6 {
        grid-row: 4;
        grid-column: 2
    }
}

/* Smartphone */
@media screen and (max-width: 599px) {
    .header {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px
    }
    .header li a {
        padding: 15px
    }
    .logo {
        margin-top: 15px;
        margin-bottom: 25px
    }
    .slogan {
        margin-bottom: 30px
    }
    .container-form {
        margin-bottom: 30px
    }
    .information {
        margin-bottom: 35px
    }
    .label-filtres {
        display: block;
        margin: 0 15px 15px 0
    }
    .btn {
        margin: 2px
    }
    .section-content {
        margin: 0;
        border-radius: 0
    }
    .section-content-hide {
        border-radius: 0;
        background: white
    }
    .section-bg {
        border-radius: 0
    }
    .hebergements {
        flex-basis: 100%
    }
    .populaires {
        flex-basis: 100%;
        order: -1
    }
    .section-el {
        flex-basis: 100%
    }
    .active,
    nav ul li:hover {
        -webkit-box-shadow: inset 0 -4px 0 -2px var(--primary-blue);
        -moz-box-shadow: inset 0 -4px 0 -2px var(--primary-blue);
        box-shadow: inset 0 -4px 0 -2px var(--primary-blue)
    }
    .footer {
        flex-wrap: wrap
    }
    .activity {
        grid-template-rows: auto repeat(6, 20rem);
        row-gap: 2rem
    }
    .activity h2 {
        grid-row: 1;
        grid-column: 1/-1
    }
    .activity-link-1 {
        grid-row: 2;
        grid-column: 1/-1
    }
    .activity-link-2 {
        grid-row: 3;
        grid-column: 1/-1
    }
    .activity-link-3 {
        grid-row: 4;
        grid-column: 1/-1
    }
    .activity-link-4 {
        grid-row: 5;
        grid-column: 1/-1
    }
    .activity-link-5 {
        grid-row: 6;
        grid-column: 1/-1
    }
    .activity-link-6 {
        grid-row: 7;
        grid-column: 1/-1
    }
}
