html {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    --primary-color: #0065FC;
    --secondary-color: #DEEBFF;
    --bg-section-content: #F2F2F2;
}
